---


import {getLaunchById, getLaunches} from '../../services/spacex-launches.astro'
import Layout from '../../layouts/Layout.astro'
import type { Doc } from '../../types/api'

export const prerender = false
const { id } = Astro.params as any
let launch: Doc
console.log('id: ', id);

// await getLaunchById(id).then(launchByid => {
//     launch = launchByid
//     console.log('launch: ',launch);
// })

const promiseLaunch = await getLaunchById(id)
launch = promiseLaunch

---

<Layout title='launch'>
    <article class="flex flex-col items-center">
        <img src=`${launch.links.patch.small}` alt="">
        <h2 class="text-center text-4xl">{launch.name}</h2>
        <p class="text-center">{launch.details}</p>
        <p class="text-center">{launch.launchpad}</p>
        <p class="text-center text-teal-400">{launch.date_local}</p>
    </article>
    
</Layout>